In [1]:
import pandas as pd

In [16]:
datolli=pd.read_csv("Financial literacy.csv")

In [17]:
datolli

,id,pesofitc,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,...,qk7_2,qk7_3,qd1,qd5b,qd7,qd9,qd10,qd12,SM,AREA5
0,1,0.706596,2,0,0,0,0,0,0,1,...,1,0,0,3,31,3,5,1,0,1
1,2,1.220904,2,1,0,0,0,1,0,0,...,1,1,0,3,53,4,1,1,0,1
2,3,1.797774,1,0,0,0,0,0,0,1,...,1,1,0,1,70,4,6,1,0,4
3,4,1.515358,2,0,0,0,0,0,0,1,...,1,-97,0,2,64,4,4,1,0,4
4,5,0.244932,2,0,0,0,0,0,0,1,...,0,0,1,2,50,3,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,692344,3.113144,3,1,1,0,0,0,0,0,...,-97,-97,1,4,18,4,9,1,1,3
2372,692345,2.112678,1,0,1,0,0,0,0,0,...,1,-97,0,1,68,4,6,1,1,3
2373,692346,2.090212,3,1,1,0,0,0,0,0,...,-97,0,0,2,31,1,2,1,1,3
2374,692347,2.040491,3,0,0,0,0,0,0,1,...,-97,-97,1,4,18,3,9,1,1,3
2375,692348,1.506404,2,1,1,0,0,0,0,0,...,1,0,0,4,50,1,2,1,1,3

In [18]:
columnlist=datolli.columns
for element in columnlist: 
    print(element)

id
pesofitc
qf1
qf2
qf3_1
qf3_3
qf3_4
qf3_6
qf3_7
qf3_8
qf3_99
qf4
qf8
qf9_1
qf9_2
qf9_3
qf9_4
qf9_5
qf9_6
qf9_7
qf9_8
qf9_9
qf9_10
qf9_99
qprod1c_1
qprod1c_2
qprod1c_10
qprod1c_11
qprod1c_12
qprod1c_3
qprod1c_5
qprod1c_6
qprod1c_14
qprod1c_7
qprod1c_8
qprod1c_99
qprod1_d
qprod2
qprod3_1
qprod3_2
qprod3_3
qprod3_4
qprod3_5
qprod3_6
qprod3_7
qprod3_8
qprod3_9
qprod3_10
qprod3_11
qprod3_12
qprod3_13
qprod3_14
qprod3_15
qprod3_16
qprod3_17
qprod3_18
qprod3_99
qf10_1
qf10_2
qf10_3
qf10_4
qf10_5
qf10_6
qf10_7
qf10_8
qf10_9
qf10_10
qf10_11
qf10_12
qprod4_1
qprod4_2
qprod4_3
qk1
qf11
qf12_1_a
qf12_1_b
qf12_1_c
qf12_2_d
qf12_3_e
qf12_3_f
qf12_3_g
qf12_4_k
qf12_4_l
qf12_5_m
qf12_5_o
qf12_6_p
qf12_6_q
qf12_7_r
qf12_97
qf12_99
qf13
qk3
qk4
qk5
qk6
qk7_1
qk7_2
qk7_3
qd1
qd5b
qd7
qd9
qd10
qd12
SM
AREA5

In [26]:
datolli.drop(["id", "pesofitc", "SM", "qd5b", "qd12", 
               "qf3_99", "qf9_99", "qprod1c_99", "qprod1_d", 
               "qprod3_99", "qf12_97", "qf12_99"], axis=1, inplace=True)

In [27]:
datolli

,qf1,qf2,qf3_1,qf3_3,qf3_4,qf3_6,qf3_7,qf3_8,qf4,qf8,...,qk5,qk6,qk7_1,qk7_2,qk7_3,qd1,qd7,qd9,qd10,AREA5
0,2,0,0,0,0,0,0,1,-98,6,...,102,1,1,1,0,0,31,3,5,1
1,2,1,0,0,0,1,0,0,1,6,...,102,1,1,1,1,0,53,4,1,1
2,1,0,0,0,0,0,0,1,1,-99,...,102,2,1,1,1,0,70,4,6,4
3,2,0,0,0,0,0,0,1,-98,6,...,102,2,1,1,-97,0,64,4,4,4
4,2,0,0,0,0,0,0,1,0,6,...,-97,-97,0,0,0,1,50,3,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,3,1,1,0,0,0,0,0,0,6,...,120,1,-97,-97,-97,1,18,4,9,3
2372,1,0,1,0,0,0,0,0,1,6,...,100,2,-97,1,-97,0,68,4,6,3
2373,3,1,1,0,0,0,0,0,1,4,...,120,1,1,-97,0,0,31,1,2,3
2374,3,0,0,0,0,0,0,1,-97,6,...,100,3,1,-97,-97,1,18,3,9,3
2375,2,1,1,0,0,0,0,0,0,3,...,110,2,1,1,0,0,50,1,2,3